<form id="addProfileForm" name="vm.addProfileForm" ng-submit="submitNewProfile()" novalidate flex>
    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-cog"></md-icon> <h3>General details</h3>
            </div>
        </md-card-title>
        <md-card-content md-whiteframe="1dp">
            <!--<div layout="row" ng-if="isInvoiceTenant">-->
            <div layout="row">
                <md-input-container flex="30">
                    <label>Category</label>
                    <md-select name="category" required ng-model="createProfile.category">
                        <md-option value="{{cat}}" ng-repeat="cat in categories">{{cat}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                  <md-button ng-click="addCategory($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new</md-tooltip> </md-button>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="30">
                    <label>First Name</label>
                    <input type="text" ng-required="true" min="1" ng-maxlength="30" name="profilename" ng-model="createProfile.firstName">
                    <div ng-messages="vm.addProfileForm.profilename.$error">
                        <div ng-message="maxlength">First Name must be between 1-30 characters</div>
                    </div>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex="30">
                    <label>Last Name</label>
                    <input type="text" ng-required="true" min="1" ng-maxlength="30" name="othername" ng-model="createProfile.lastName">
                    <div ng-messages="vm.addProfileForm.othername.$error">
                        <div ng-message="maxlength">Last Name must be between 1-30 characters</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="30">
                    <label>Email</label>
                    <input type="text" min="1" ng-maxlength="50" name="email_addr" ng-model="createProfile.email">
                    <div ng-messages="vm.addProfileForm.email_addr.$error">
                        <div ng-message="maxlength">Email must be between 1-50 characters</div>
                    </div>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex="30">
                    <label>Contact Number</label>
                    <input type="text" ng-required="false" min="1" ng-maxlength="30" name="contactNumber" ng-model="createProfile.phone">
                    <div ng-messages="vm.addProfileForm.contactNumber.$error">
                        <div ng-message="maxlength">Contact Number must be between 1-30 characters</div>
                    </div>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home"></md-icon> <h3>Billing & Shipping details</h3>
            </div>
        </md-card-title>
        <md-card-content md-whiteframe="1dp">
            <div layout="row" ng-if="!vm.usingAvalaraTax">
                <md-input-container flex="30">
                    <label>Billing Address</label>
                    <input type="text" ng-required="true" min="1" ng-maxlength="200" id="autocomplete" placeholder="" onFocus="geolocate3()" onchange="clearaddress()" name="bill_addr" ng-model="createProfile.billAddress">
                    <div ng-messages="vm.addProfileForm.bill_addr.$error">
                        <div ng-message="maxlength">Address must be between 1-200 characters</div>
                    </div>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex="30">
                    <label>Bill Country</label>
                    <input type="text" ng-required="true" min="1" ng-maxlength="35" id="country" name="bill_country" ng-focus="addressChanged()" ng-model="createProfile.country">
                    <div ng-messages="vm.addProfileForm.bill_country.$error">
                        <div ng-message="maxlength">Country must be between 1-35 characters</div>
                    </div>
                </md-input-container>
            </div>
            <div ng-if="vm.usingAvalaraTax">
              <div class="title" layout="row">
                <md-input-container class="md-block mb-0" flex>
                  <label>Line 1 </label>
                  <input name="line1" ng-required="true" type="text" ng-model="createProfile.line1" ng-maxlength="30">
                </md-input-container>
              </div>
              <div class="address" layout="row">
                <md-input-container class="md-block mb-0" flex>
                  <label>Line 2 </label>
                  <input name="line2" ng-required="false" type="text" ng-model="createProfile.line2" ng-maxlength="100">
                </md-input-container>
              </div>
              <div class="title" layout="row">
                <md-input-container class="md-block mb-0" flex>
                  <label>Line 3</label>
                  <input name="line3" ng-required="false" type="text" ng-model="createProfile.line3" ng-maxlength="15">
                </md-input-container>
              </div>
              <div class="title" layout="row">
                <md-input-container class="md-block mb-0" flex>
                  <label>City</label>
                  <input name="city" ng-required="true" type="text" ng-model="createProfile.city"  ng-maxlength="30">
                  <div ng-messages="vm.addProfileForm.city.$error">
                    <div ng-message="maxlength">City has to be less than 30 characters long</div>
                  </div>
                </md-input-container>
              </div>
              <div class="title" layout="row">
                <md-input-container class="md-block mb-0" flex>
                  <label>Region</label>
                  <input name="region" ng-required="true" type="text" ng-model="createProfile.region" ng-maxlength="30">
                  <div ng-messages="vm.addProfileForm.region.$error">
                    <div ng-message="maxlength">Region has to be less than 30 characters long</div>
                  </div>
                </md-input-container>
              </div>
              <div class="title" layout="row">
                <md-input-container class="md-block mb-0" flex>
                  <label>Country</label>
                  <input name="country" ng-required="true" type="text" ng-model="createProfile.country" ng-maxlength="30">
                  <div ng-messages="vm.addProfileForm.country.$error">
                    <div ng-message="maxlength">Country has to be less than 30 characters long</div>
                  </div>
                </md-input-container>
              </div>
              <!--<div class="title" layout="row">-->
                <!--<md-input-container class="md-block mb-0" flex>-->
                  <!--<label>Postal Code</label>-->
                  <!--<input name="postalCode" ng-required="false" type="text" ng-model="createProfile.postalCode" ng-maxlength="15">-->
                  <!--<div ng-messages="vm.addProfileForm.postalCode.$error">-->
                    <!--<div ng-message="maxlength">Postal Code has to be less than 15 characters long</div>-->
                  <!--</div>-->
                <!--</md-input-container>-->
              <!--</div>-->
            </div>
            <div layout="row">
                <md-input-container flex="30">
                    <label>Shipping Address</label>
                    <input type="text" ng-required="false" min="1" ng-maxlength="200" id="autocomplete2" placeholder="" onFocus="geolocate3()" onchange="clearaddress2()" name="ship_addr" ng-model="createProfile.shipAddress">
                    <div ng-messages="vm.addProfileForm.ship_addr.$error">
                        <div ng-message="maxlength">Address must be between 1-200 characters</div>
                    </div>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex="30">
                    <label>Shipping Country</label>
                    <input type="text" ng-required="false" min="1" ng-maxlength="35" id="country2" name="ship_country" ng-model="createProfile.shipCountry">
                    <div ng-messages="vm.addProfileForm.ship_country.$error">
                        <div ng-message="maxlength">Country must be between 1-35 characters</div>
                    </div>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</form>
