<div class="productName" layout="column" layout-align="center start" flex>
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Customer</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showName" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('first_name',true,'Name')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showName" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('first_name',null,'Name')">
                <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<!--<div class="productName" layout="column" layout-align="center start" flex ng-if="!showInpageReadpane">-->
    <!--<div layout="row">-->
        <!--<span layout="column" layout-align="center center" class="header-text">Type</span>-->
        <!--<div layout="column" layout="center center">-->
            <!--<md-button ng-hide="showName" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('name',true,'Name')">-->
                <!--<md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon md-font-icon="icon-chevron-down"></md-icon>-->
            <!--</md-button>-->
            <!--<md-button ng-show="showName" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('name',null,'Name')">-->
                <!--<md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>-->
                <!--<md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>-->
            <!--</md-button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="productName" layout="column" layout-align="center start" flex ng-if="!showInpageReadpane">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Contact</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showContact" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('phone',true,'Contact')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showContact" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('phone',null,'Contact')">
                <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div class="productName" layout="column" layout-align="center start" flex ng-if="!showInpageReadpane">
    <div layout="row">
        <span layout="column" layout-align="center center" class="header-text">Created date</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showDate" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('createddate',true,'Date')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showDate" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('createddate',null,'Date')">
                <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>

<div flex="5" ng-if="!showInpageReadpane"></div>
<div class="productName" layout="column" layout-align="center center" ng-class="{'flex-30':showInpageReadpane == true,'flex-10': showInpageReadpane == false}">
    <div layout="row" layout-align="center center" style="position:relative;right: -10px">
        <span layout="column" layout-align="center center" class="header-text">Status</span>
        <div layout="column" layout="center center">
            <md-button ng-hide="showState" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('status',true,'Status')">
                <md-icon class="sort_btn_icon merged" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
            <md-button ng-show="showState" class="sort_btn md-icon-button" layout="column" layout="center center" ng-click="sortBy('status',null,'Status')">
                <md-icon ng-if="reverse==true" class="sort_btn_icon" md-font-icon="icon-chevron-up"></md-icon>
                <md-icon ng-if="reverse==false" md-font-icon="icon-chevron-down"></md-icon>
            </md-button>
        </div>
    </div>
</div>