<meta name="updatedBy" content="GihanHerath">
<meta name="modifiedDate" content="24-10-2016">
<meta name="version" content="6.0.0.4">
<!-- INVOICE LIST ITEMS -->

<div class="threesixty-list-item" layout="row" layout-align="center center" ng-repeat="profile in vm.profiles | filter: vm.search | filter: global.search"
     md-ink-ripple
     ng-click="vm.selectThreeSixty(profile)"
     ng-class="{'starred': profile.starred, 'selected': vm.selectedProfile === profile, 'checked': vm.isChecked(profile)}">

  <div layout="row" layout-align="center center" flex>

    <div class="info" flex layout="row">
      <div class="invoiceMainInfo" layout="column" layout-align="center start">
        <span ng-if="profile.profile_type=='Individual'">{{profile.first_name}}</span>
        <span ng-if="profile.profile_type=='Business'">{{profile.business_name}}</span>
        <div class="invoiceType">
          {{profile.profile_type}}
        </div>
      </div>
    </div>

    <div flex class="client" layout="column" layout-align="center start" ng-if="!showInpageReadpane">
      {{profile.category}}
    </div>

    <div flex class="client" layout="column" layout-align="center start" ng-if="!showInpageReadpane">
      <span ng-if="profile.profile_type=='Individual'">{{profile.phone}}</span>
      <span ng-if="profile.profile_type=='Business'">{{profile.business_contact_no}}</span>
    </div>

    <div flex="5"></div>

    <div class="status" layout="column" layout-align="center end" ng-class="{'flex-30':showInpageReadpane == true,'flex-10': showInpageReadpane == false}">
      <span class="pill active" layout="row" layout-align="center center" ng-if="profile.status==true">Active</span>
      <span class="pill expired" layout="row" layout-align="center center" ng-if="profile.status==false">Inactive</span>
    </div>
  </div>
</div>
<div class="invoice-list-item" ng-hide="hideSearchMore || searchMoreInit" layout="row" layout-align="center center">
  <md-button ng-click="loadByKeywordProfile(vm.search,vm.search.length)" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>
</div>
