<!-- CONTENT CARD -->
<div class="content-card" layout="column" flex>

  <!-- INVOICE VIEW PANE TOOLBAR -->
  <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeInvoicePaneIndex === 1">
    <md-button class="md-icon-button"
               ng-click="vm.closeReadPane()"
               aria-label="Back">
      <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
    </md-button>
  </div>
  <!-- / INVOICE VIEW PANE TOOLBAR -->

  <!-- CONTENT TOOLBAR -->
  <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeInvoicePaneIndex === 0">

    <div layout="row" layout-align="start center">
      <md-checkbox class="no-label" aria-label="{{vm.allChecked?'Uncheck All':'Check All'}}"
                   ng-checked="vm.allChecked" ng-click="vm.checkAll()"></md-checkbox>
      <md-menu>
        <md-button class="md-icon-button"
                   ng-click="$mdOpenMenu($event)"
                   aria-label="Filters">
          <md-icon md-font-icon="icon-menu-down"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button aria-label="All">
              All
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="None">None
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Starred">Starred
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Unstarred">Unstarred
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <div class="divider-vertical" hide show-gt-sm></div>

      <md-button class="md-icon-button" aria-label="Archive" hide show-gt-sm>
        <md-icon md-font-icon="icon-archive"></md-icon>
        <md-tooltip><span>Archive</span></md-tooltip>
      </md-button>

      <md-button class="md-icon-button" aria-label="Clear" hide show-gt-sm>
        <md-icon md-font-icon="icon-alert-octagon"></md-icon>
        <md-tooltip><span>Clear</span></md-tooltip>
      </md-button>

      <md-button class="md-icon-button" aria-label="Delete" hide show-gt-sm>
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span>Delete</span></md-tooltip>
      </md-button>


      <md-menu hide-gt-sm>
        <md-button class="md-icon-button"
                   ng-click="$mdOpenMenu($event)">
          <md-icon md-font-icon="icon-dots-vertical"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button aria-label="Archive">
              <md-icon md-font-icon="icon-archive"></md-icon>
              <span>Archive</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Clear">
              <md-icon md-font-icon="icon-alert-octagon"></md-icon>
              <span>Clear</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Delete">
              <md-icon md-font-icon="icon-delete"></md-icon>
              <span>Delete</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <div layout="row" layout-align="start center">
      <span class="page-info" hide-sm>1 - 100 of 980</span>

      <md-button class="md-icon-button arrow" aria-label="Previous">
        <md-icon md-font-icon="icon-chevron-left"></md-icon>
        <md-tooltip><span>Previous</span></md-tooltip>
      </md-button>

      <md-button class="md-icon-button arrow" aria-label="Next">
        <md-icon md-font-icon="icon-chevron-right"></md-icon>
        <md-tooltip><span>Next</span></md-tooltip>
      </md-button>
    </div>
  </div>
  <!-- / CONTENT TOOLBAR -->

  <!-- CONTENT WRAPPER -->
  <div class="content-wrapper" layout="row" flex>

    <md-tabs md-selected="vm.activeInvoicePaneIndex" class="invoice-tabs" md-dynamic-height="{{vm.dynamicHeight}}" flex>
      <!-- INVOICE LIST PANE -->
      <md-tab>
        <md-tab-label>ThreeSixty List Pane</md-tab-label>
        <md-tab-body>
          <div class="content invoice-list-pane"
               ng-include="'app/main/360/views/list/list-view.html'" ms-scroll>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / INVOICE LIST PANE -->

      <!-- INVOICE DISPLAY PANE -->
      <md-tab>
        <md-tab-label>ThreeSixty Display Pane</md-tab-label>
        <md-tab-body>
          <div class="content invoice-display-pane"
               ng-include="'app/main/360/views/read/read-view.html'" ms-scroll>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / INVOICE DISPLAY PANE -->
    </md-tabs>

  </div>
  <!-- / CONTENT WRAPPER -->

</div>
<!-- / CONTENT CARD -->
</div>

<!-- / CENTER -->

<!-- CENTER -->
<div ng-switch-when="add" class="center" layout="column" flex>
  <!-- CONTENT HEADER -->
  <div class="header" layout="row" layout-align="start center">

  </div>
  <!-- / CONTENT HEADER -->

  <!-- CONTENT CARD -->
  <div class="content-card" layout="column" flex>

    <!-- INVOICE VIEW PANE TOOLBAR -->
    <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeInvoicePaneIndex === 1">
      <md-button class="md-icon-button"
                 ng-click="vm.closeReadPane()"
                 aria-label="Back">
        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
      </md-button>
    </div>
    <!-- / INVOICE VIEW PANE TOOLBAR -->

    <!-- CONTENT TOOLBAR -->
    <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeInvoicePaneIndex === 0">

      <div layout="row" layout-align="start center">
        <md-checkbox class="no-label" aria-label="{{vm.allChecked?'Uncheck All':'Check All'}}"
                     ng-checked="vm.allChecked" ng-click="vm.checkAll()"></md-checkbox>
        <md-menu>
          <md-button class="md-icon-button"
                     ng-click="$mdOpenMenu($event)"
                     aria-label="Filters">
            <md-icon md-font-icon="icon-menu-down"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button aria-label="All">
                All
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="None">None
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Starred">Starred
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Unstarred">Unstarred
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <div class="divider-vertical" hide show-gt-sm></div>

        <md-button class="md-icon-button" aria-label="Archive" hide show-gt-sm>
          <md-icon md-font-icon="icon-archive"></md-icon>
          <md-tooltip><span>Archive</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Clear" hide show-gt-sm>
          <md-icon md-font-icon="icon-alert-octagon"></md-icon>
          <md-tooltip><span>Clear</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Delete" hide show-gt-sm>
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip><span>Delete</span></md-tooltip>
        </md-button>


        <md-menu hide-gt-sm>
          <md-button class="md-icon-button"
                     ng-click="$mdOpenMenu($event)">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button aria-label="Archive">
                <md-icon md-font-icon="icon-archive"></md-icon>
                <span>Archive</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Clear">
                <md-icon md-font-icon="icon-alert-octagon"></md-icon>
                <span>Clear</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Delete">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <span>Delete</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div layout="row" layout-align="start center">
        <span class="page-info" hide-sm>1 - 100 of 980</span>

        <md-button class="md-icon-button arrow" aria-label="Previous">
          <md-icon md-font-icon="icon-chevron-left"></md-icon>
          <md-tooltip><span>Previous</span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button arrow" aria-label="Next">
          <md-icon md-font-icon="icon-chevron-right"></md-icon>
          <md-tooltip><span>Next</span></md-tooltip>
        </md-button>
      </div>
    </div>
    <!-- / CONTENT TOOLBAR -->

    <!-- CONTENT WRAPPER -->
    <div class="content-wrapper" ms-scroll flex>

      <md-content>
        <form name="editForm" ng-submit="submit()">
          <!--<md-content flex layout-padding> style="height:600px;overflow-y: scroll;"-->
          <div class="body-content-wrap">
            <div layout-gt-sm="row" class="sub-header-wrap">
              <label>Customer</label>
            </div>
            <div layout-gt-sm="row">
              <md-autocomplete flex
                               md-select-on-match
                               ng-keypress="enter($event)"
                               ng-disabled="vm.isDisabled"
                               md-input-name="autocompleteField"
                               md-no-cache="vm.noCache"
                               md-selected-item="customer_supplier.customer"
                               md-selected-item-change="loadInvoice(customer_supplier.customer)"
                               md-search-text="vm.searchText"
                               md-items="item in vm.querySearch(vm.searchText)"
                               md-item-text="item.display"
                               md-floating-label="Customer"
                               md-min-length="0">
                <md-item-template>
                  <span md-highlight-text="vm.searchText">{{item.display+" : "+item.value.othername}}</span>
                </md-item-template>
              </md-autocomplete>

            </div>

            <div layout-gt-sm="row">
              <div class="md-block p-l-50" style="padding-top: 13px;" flex-gt-sm>
                <!--<label>Payment Date</label>-->
                <md-datepicker ng-model="content.paymentDate" ng-init="content.paymentDate=today;" style="width: 300px;" placeholder="Payment Date" label="Payment Date">
                </md-datepicker>
              </div>
              <md-input-container class="md-block p-l-50" flex-gt-sm>
                <label>Currency</label>
                <md-select ng-required="false" name="currency" ng-change="convertCurrency(content.preferredcurrency)" ng-model="content.preferredcurrency">
                  <md-divider></md-divider>
                  <md-option ng-value="BaseCurrency">{{BaseCurrency}}</md-option>
                  <md-option ng-hide="currency==BaseCurrency" ng-repeat="currency in prefferedCurrencies" ng-value="currency">{{currency}}</md-option>
                </md-select>
              </md-input-container>
              <div hide-xs hide-sm flex-gt-sm="5">
              </div>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Currency Convert Rate</label>
                <input ng-required="false" minlength="null" md-maxlength="null" type="" name="rate" min="" ng-pattern="" ng-disabled="true" ng-model="currencyRate">
              </md-input-container>
            </div>

            <!--</div>-->

            <div layout-gt-sm="row" class="sub-header-wrap">
              <label>Invoice Details</label>
            </div>
            <div class="sub-header-table-wrap" layout="row" layout-wrap>
              <div flex="25" class="p-l-15">
                Invoice No:
              </div>
              <div flex="25" class="text-left">
                Invoice Amount
              </div>
              <div flex="15" class="text-left">
                Adjustment
              </div>
              <div flex="15" class="text-left">
                Paid Amount
              </div>
              <div flex="20" class="text-right">
                Balance Payment
              </div>
            </div>
            <div>
              <md-list style="height:250px;overflow-y: scroll;">
                <md-list-item  ng-repeat="item in invoicelist"  style="outline:none;">
                  <md-card layout="row" class="md-card-wrap" layout-align="space-between center">
                    <!--<div flex="30"><img src="{{item.business_contact_no}}" style="width:80px;margin-left: 10px;"/></div>-->
                    <div flex="20" layout="column">
                      <label class="md-card-label-wrap">{{item.invoiceNo}}</label>
                    </div>
                    <div flex="20" layout="column">
                      <label class="md-card-label-wrap">{{item.invoiceAmount| currency:" "}}</label>
                    </div>
                    <div ng-if="item.adjustmenttype=='0'" flex="20" layout="column">
                      <label class="md-card-label-wrap">{{item.invoiceAdjustment| currency:" "}}</label>
                    </div>
                    <div ng-if="item.adjustmenttype=='1'" flex="20" layout="column">
                      <label class="md-card-label-wrap">-{{item.invoiceAdjustment| currency:" "}}</label>
                    </div>
                    <div ng-if="item.adjustmenttype=='2'" flex="20" layout="column">
                      <label class="md-card-label-wrap">+{{item.invoiceAdjustment| currency:" "}}</label>
                    </div>
                    <div flex="20" layout="column">
                      <label class="md-card-label-wrap">{{item.paidAmount| currency:" "}}</label>
                    </div>
                    <div flex="20" layout="column">
                      <label class="md-card-label-wrap">{{item.balancepayment| currency:" "}}</label>
                    </div>

                  </md-card>
                </md-list-item >
              </md-list>
            </div>
            <div layout-gt-sm="row" class="calc-detail-wrap">
              <label class="calc-detail-label p-l-100">Total Balance Payments</label>
              <label class="calc-detail-label p-l-100">{{invoicelist[0].totalbalance| currency:" "}}</label>
              <!--<label style="font-size: 20px;font-weight: 600;padding-left: 100px; height: 30px">{{items[0].amount| currency}}</label>-->
            </div>

            <!--<div class="body-content-wrap"> ng-click="addNewUser($event)"-->

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Payment Amount</label>
                <input ng-required="true" minlength="null" md-maxlength="null" type="number" name="amount" min="0" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" style="text-align:right;" ng-model="content.amount">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block p-l-50" flex-gt-sm>
                <label>Payment Method</label>
                <md-select ng-required="true" name="paymentMethod" ng-model="content.paymentMethod">
                  <md-divider></md-divider>
                  <md-option value="Cash">Cash</md-option>
                  <md-option value="Cheque">Cheque</md-option>
                  <md-option value="Card">Card</md-option>
                  <!--<md-option ng-repeat="profile in profilelist" ng-value="profile">{{profile.profilename}}</md-option>-->
                </md-select>
              </md-input-container>
              <md-input-container ng-show="content.paymentMethod=='Cheque'" class="md-block" flex-gt-sm>
                <label>Cheque No</label>
                <input ng-required="false" minlength="null" md-maxlength="null" type="" name="chequeNo" ng-pattern="" ng-model="content.chequeNo">
              </md-input-container>
              <!--<div ng-if="content.paymentMethod=='Card'">-->
              <!--<div ng-init="addCardPayment($event, content.amount)"></div>-->
              <!--</div>-->
            </div>

            <div layout-gt-sm="row" class="sub-header-wrap">
              <label>Other</label>
            </div>

            <div layout-gt-sm="row">
              <div layout-gt-sm="row">
                <md-input-container class="md-block p-l-50" flex-gt-sm>
                  <label>Bank Charges</label>
                  <input ng-required="false" minlength="null" md-maxlength="null" style="width: 180px;" type="number" name="bankCharges" min="0" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="content.bankCharges">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Notes</label>
                  <input ng-required="false" minlength="null" md-maxlength="null" style="width: 618px;" type="" name="note" ng-pattern="" ng-model="content.note">
                </md-input-container>
              </div>
            </div>


          </div>


          <!--</md-content>-->

          <div class="form-footer-btn-wrap">
            <div layout-gt-sm="row" class="p-0">
              <!--<a flex="50" class="md-raise btn btn-cancel" ng-click="returntolist()">cancel-->
              <!--</a>-->
              <!--<a flex="50" class="md-raise btn btn-submit" type="submit" ng-click="showListBottomSheet()">submit-->
              <!--</a>-->
              <md-button flex="50" class="md-raise btn btn-cancel" ng-click="clearform();" type="button">CLEAR</md-button>
              <md-button flex="50" class="md-raise btn btn-submit" ng-disabled="submitted" type="submit">SUBMIT</md-button>
            </div>
          </div>
        </form>
      </md-content>
      <!--<md-content style="width:100%;height: 100%" ms-scroll>-->
      <!--<form name="editForm" ng-submit="submit()">-->
      <!--<div class="section_padding" style="background-color: #E5ECEF">-->
      <!--<div layout="row">-->
      <!--<div layout="column">-->
      <!--<div layout="row">-->
      <!--<div class="md-block" style="width: 300px">-->
      <!--<md-date-picker model="content.invoiceDate" label="Invoice Date"/>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div layout="row">-->

      <!--<md-input-container>-->
      <!--<label>Category</label>-->
      <!--<md-select ng-required="false" name="receivedStore" ng-model="content.category" ng-change="FilterUsers(content.category)"  style="width: 300px;">-->
      <!--<md-divider></md-divider>-->
      <!--<md-option ng-repeat="value in categories" ng-value="value">{{value}}</md-option>-->
      <!--</md-select>-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--<div layout="row">-->
      <!--<!--<md-input-container class="md-block">-->
      <!--<!--<label>Name</label>-->
      <!--<!--<md-select ng-required="true" name="profilename" ng-change="GetAddr(content.profile)" ng-model="content.profile" style="width: 300px;">-->
      <!--<!--<md-divider></md-divider>-->
      <!--<!--<md-option ng-repeat="users in filteredUsers" ng-value="users">{{users.profilename}}</md-option>-->
      <!--<!--</md-select>-->
      <!--<!--</md-input-container>-->
      <!--<md-autocomplete flex-->
      <!--ng-required="true"-->
      <!--md-select-on-match-->
      <!--ng-keypress="enter($event)"-->
      <!--ng-disabled="ctrl.isDisabled"-->
      <!--md-input-name="acName"-->
      <!--md-no-cache="ctrl.noCache"-->
      <!--md-selected-item="content.profile"-->
      <!--md-search-text="ctrl.searchProfile"-->
      <!--md-selected-item-change="GetAddr(content.profile,0)"-->
      <!--md-search-text-change="GetAddr(ctrl.searchProfile,1)"-->
      <!--md-items="item in queryProfile(ctrl.searchProfile)"-->
      <!--md-item-text="item.profilename"-->
      <!--md-floating-label="Name"-->
      <!--md-min-length="" style="height: 55px;">-->
      <!--<md-not-found>No items.</md-not-found>-->
      <!--<md-item-template>-->
      <!--<span md-highlight-text="ctrl.searchText">{{item.profilename+" "+item.othername}}</span>-->
      <!--</md-item-template>-->
      <!--</md-autocomplete>-->
      <!--</div>-->
      <!--<!--<hr/>-->
      <!--<div layout="row">-->
      <!--<p class="p-word-wrap-spec font-Lato">{{content.bill_addr}}</p>-->
      <!--<!--<label style="margin-left: 150px">No 53, Lorenz Street,</label>-->
      <!--</div>-->
      <!--<div layout="row" class="p-t-20">-->
      <!--<md-autocomplete flex-->
      <!--md-select-on-match-->
      <!--ng-keypress="enter($event)"-->
      <!--ng-disabled="ctrl.isDisabled"-->
      <!--md-input-name="acQuotation"-->
      <!--md-no-cache="ctrl.noCacheq"-->
      <!--md-selected-item="quotationDet"-->
      <!--md-search-text="ctrl.searchQuotation"-->
      <!--md-selected-item-change="getQuotationDetails(quotationDet)"-->
      <!--md-items="item in queryQuotation(ctrl.searchQuotation)"-->
      <!--md-item-text="item.code"-->
      <!--md-floating-label="Quotation"-->
      <!--md-min-length="" style="height: 55px;">-->
      <!--<md-not-found>No items.</md-not-found>-->
      <!--<md-item-template>-->
      <!--<span md-highlight-text="ctrl.searchText">{{item.code}}</span>-->
      <!--</md-item-template>-->
      <!--</md-autocomplete>-->
      <!--</div>-->
      <!--<div layout="row" class="p-t-20">-->

      <!--</div>-->
      <!--</div>-->
      <!--<div class="md-block" flex="25">-->
      <!--<!--space keeper-->
      <!--</div>-->
      <!--<div layout="column">-->
      <!--<div layout="row">-->
      <!--<!--<div class="md-block" style="width: 300px;height: 94px">-->
      <!--<!--<!--<md-input-container class="md-block">-->
      <!--<!--<!--<label style="margin-left: 176px;color: dimgray;">Invoice No :2345</label>-->
      <!--<!--<!--</md-input-container>-->
      <!--<!--</div>-->
      <!--<!--<div class="md-block" style="width: 300px">-->
      <!--<!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<!--<label>Due Date</label>-->
      <!--<!--<input minlength="null" md-maxlength="null" type="" name="Price" ng-model="content.dueDate">-->
      <!--<!--</md-input-container>-->
      <!--<!--</div>-->
      <!--<div class="md-block" style="width: 300px">-->
      <!--<md-date-picker model="content.dueDate" label="Due Date"/>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div layout="row" style="margin-bottom: -22px">-->
      <!--<md-input-container class="md-block" flex="50">-->
      <!--<label>Currency</label>-->
      <!--<md-select ng-required="false"  name="prefferedCurrency" ng-model="content.preferredCurrency" ng-change="calcRate(content.invoiceType)">-->
      <!--<md-select-label>Currency</md-select-label>-->
      <!--<md-divider></md-divider>-->
      <!--<md-option ng-repeat="currencyType in prefferedCurrencies" ng-value="currencyType">{{currencyType}}</md-option>-->
      <!--</md-select>-->
      <!--</md-input-container>-->
      <!--<md-input-container class="md-block" flex="50">-->
      <!--<label>Rate</label>-->
      <!--<input disabled type="" min="1" step="{{step}}"  ng-model="exchangeRate">-->
      <!--</md-input-container>-->
      <!--</div>-->

      <!--<div layout="row">-->
      <!--<md-input-container class="md-block">-->
      <!--<label>Invoice Type</label>-->
      <!--<md-select ng-required="true"  name="invoiceType" ng-model="content.invoiceType" ng-change="customValidation(content.invoiceType)"  style="width: 300px;">-->
      <!--<md-select-label>Invoice Type</md-select-label>-->
      <!--<md-divider></md-divider>-->
      <!--<md-option ng-repeat="types in invoicetypes" ng-value="types">{{types}}</md-option>-->
      <!--</md-select>-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--<div layout="row" ng-show="content.invoiceType=='Installment' || content.invoiceType=='Recurring'" style="height: 70px">-->
      <!--<md-input-container class="md-block" >-->
      <!--<label>Frequency</label>-->
      <!--<md-select ng-required="content.isFrequency" name="frequency" ng-model="content.frequency" style="width: 300px;">-->
      <!--<md-divider></md-divider>-->
      <!--<md-option ng-repeat="value in frequencies" ng-value="value">{{value}}</md-option>-->
      <!--</md-select>-->
      <!--</md-input-container>-->

      <!--</div>-->
      <!--<div layout="row" ng-show="content.invoiceType=='Installment'" style="height: 70px">-->
      <!--<md-input-container class="md-block" >-->
      <!--<label>Occurences</label>-->
      <!--<input ng-required="content.isOccurence"  minlength="" style="width: 300px;" md-maxlength="" type="number" ng-model="content.occurrence">-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--<!--<div layout="row" ng-show="content.invoiceType=='Recurring' || content.invoicetype=='Installement'" style="height: 70px">-->
      <!--<!--<md-input-container class="md-block" >-->
      <!--<!--<label>Due Date</label>-->
      <!--<!--<input ng-required=""  minlength="" style="width: 300px;" md-maxlength="" type="" ng-model="content.dueDate">-->
      <!--<!--</md-input-container>-->
      <!--<!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="section_padding">-->
      <!--<div layout-gt-sm="row" ng-repeat="row in rows" class="h-60">-->
      <!--<md-autocomplete-->
      <!--ng-required="true"-->
      <!--md-select-on-match-->
      <!--ng-keypress="enter($event)"-->
      <!--ng-disabled="ctrl.isDisabled"-->
      <!--md-input-name="autocompleteField"-->
      <!--md-no-cache="ctrl.noCache"-->
      <!--md-selected-item="row.product"-->
      <!--md-selected-item-change="validateProduct(row.product,$index)"-->
      <!--md-search-text-change="changeState()"-->
      <!--md-search-text="ctrl.searchText[$index]"-->
      <!--md-floating-label="Product"-->
      <!--md-items="prod in querySearch(ctrl.searchText[$index],$index)"-->
      <!--md-item-text="prod.code" style="min-width: 120px !important; width: 120px">-->
      <!--<md-not-found>-->
      <!--<!--No items.-->
      <!--<md-button ng-hide="lostfocus"-->
      <!--style="line-height: 20px;font-size: 12px"-->
      <!--ng-click="loadmoreproduct(ctrl.searchText,rows,$parent.$index,'true');" type="button">Search More-->
      <!--</md-button>-->
      <!--<label ng-show="last">No items.</label>-->
      <!--</md-not-found>-->
      <!--<md-item-template>-->
      <!--<span md-highlight-text="ctrl.searchText">{{prod.code}}</span>-->
      <!--</md-item-template>-->
      <!--</md-autocomplete>-->
      <!--<div class="md-block" flex="5">-->
      <!--<!--space keeper-->
      <!--</div>-->
      <!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<label>Quantity</label>-->
      <!--<input ng-required="true" style="width: 75px;" type="number" min="1" ng-blur="calcTotalTax(row,$index)" ng-model="row.qty">-->
      <!--</md-input-container>-->
      <!--<div class="md-block" flex="5">-->
      <!--<!--space keeper-->
      <!--</div>-->
      <!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<label>Tax</label>-->
      <!--<input disabled type=""  ng-model="row.taxDisplay">-->
      <!--</md-input-container>-->
      <!--<div class="md-block" flex="5">-->
      <!--<!--space keeper-->
      <!--</div>-->
      <!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<label>Promotion</label>-->
      <!--<input disabled  ng-model="row.promotion">-->
      <!--</md-input-container>-->
      <!--<div class="md-block" flex="5">-->
      <!--<!--space keeper-->
      <!--</div>-->
      <!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<label>Amount</label>-->
      <!--<input disabled type=""  ng-model="row.rowAmtDisplay">-->
      <!--</md-input-container>-->
      <!--<div class="add-new-row remove-row remove-btn-style">-->
      <!--<div class="icon" ng-click="removerow($index);">-->
      <!--<ng-md-icon class="add-row" icon="delete" >-->
      <!--</ng-md-icon>-->
      <!--</div>-->
      <!--<div class="text">-->
      <!--Remove-->
      <!--</div>-->
      <!--</div>-->
      <!--<!--<md-button aria-label="menu" class="md-fab md-mini" style="background-color:#339bb9;" ng-show="row.newProduct" ng-click="addrow(row);">-->
      <!--<!--<md-icon md-svg-src="../img/ic_add_24px.svg">-->
      <!--<!--</md-icon>-->
      <!--<!--<md-tooltip md-direction="left">Add Product</md-tooltip>-->
      <!--<!--</md-button>-->
      <!--<!--<md-button aria-label="menu" class="md-fab md-mini" style="background-color:#e64a19;" ng-hide="row.newProduct" ng-click="removerow($index);">-->
      <!--<!--<md-icon md-svg-src="../img/ic_remove_24px.svg">-->
      <!--<!--</md-icon>-->
      <!--<!--<!--#e64a19<ng-md-icon icon="mode_edit" style="margin-top: 18px;margin-right: 18px;fill:#B4B4B4" size="20px"></ng-md-icon>-->
      <!--<!--<md-tooltip md-direction="left">Remove Product</md-tooltip>-->
      <!--<!--</md-button>-->
      <!--</div>-->
      <!--<div layout="row">-->
      <!--<div class="add-new-row">-->
      <!--<div class="icon" ng-click="addrow();">-->
      <!--<ng-md-icon class="add-row" icon="add" >-->
      <!--</ng-md-icon>-->
      <!--</div>-->
      <!--<div class="text">-->
      <!--Add-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="section_padding" style="background-color: #E5ECEF">-->
      <!--<div layout="row">-->

      <!--<div flex>-->
      <!--<div layout="column">-->
      <!--<div layout="row" layout-align="end center" style="height: 65px;">-->
      <!--<h3 class="font-Lato">Sub Total</h3>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="height: 45px;margin-top:15px">-->
      <!--<!--<label class="font-Lato font-weight400">Additional Charges</label>-->
      <!--<label class="font-Lato font-weight400">Promotion</label>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 40px">-->
      <!--<!--<label class="font-Lato font-weight400">Discount</label>-->
      <!--<label class="font-Lato font-weight400">Tax</label>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 54px">-->
      <!--<!--<label class="font-Lato font-weight400">Tax</label>-->
      <!--<label class="font-Lato font-weight400">Additional Charges</label>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 45px">-->
      <!--<!--<label class="font-Lato font-weight400">Promotion</label>-->
      <!--<label class="font-Lato font-weight400">Discount</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div flex style="margin-right: 45px">-->
      <!--<div layout="column">-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 10px;margin-left: 125px;height: 45px;">-->
      <!--<text class="font-Lato font-weight400 font-size18">{{content.netamt | currency:" " : decimalPoint}}</text>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 35px;margin-left: 78px" >-->
      <!--<!--<md-input-container>-->
      <!--<!--<input  style="width: 125px;" min="0" ng-model="content.additionalcharge" aria-label="additionalcharge" type="number" ng-pattern="">-->
      <!--<!--</md-input-container>-->
      <!--<text class="font-Lato font-weight400 font-size18">{{content.PromoAmt | currency:" " :decimalPoint}}</text>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 50px;margin-left: 78px" >-->
      <!--<!--<md-input-container>-->
      <!--<!--<input  style="width: 125px;" min="0" ng-model="content.discount" type="number" aria-label="tax" ng-pattern="">-->
      <!--<!--</md-input-container>-->
      <!--<text class="font-Lato font-weight400 font-size18">{{content.taxAmt | currency:" " :decimalPoint}}</text>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 37px;margin-left: 125px;height: 45px;">-->
      <!--<!--<text class="font-Lato font-weight400 font-size18">{{content.taxAmt.toFixed(2)}}</text>-->
      <!--<md-input-container>-->
      <!--<input  style="width: 125px;" min="0" ng-model="content.additionalcharge" aria-label="additionalcharge" step="{{step}}" type="number" ng-pattern="">-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--<div layout="row" layout-align="end center" style="margin-top: 20px;margin-left: 125px;height: 45px;">-->
      <!--<!--<text class="font-Lato font-weight400 font-size18">{{content.PromoAmt.toFixed(2)}}</text>-->
      <!--<md-input-container>-->
      <!--<input  style="width: 125px;" min="0" ng-model="content.discount" type="number" step="{{step}}" aria-label="tax" ng-pattern="">-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div layout-gt-sm="row">-->
      <!--<div layout="column" flex="55">-->
      <!--<div class="section_padding">-->
      <!--<div layout-gt-sm="row">-->
      <!--<md-input-container class="input-validation-text">-->
      <!--<!--<label>Promotion Code</label>-->
      <!--<!--<md-select ng-required="true" name="promotioncode" ng-model="content.promotion" style="width: 300px;">-->
      <!--<!--<md-divider></md-divider>-->
      <!--<!--<md-option ng-repeat="value in promotions" ng-value="value">{{value.promotioncode}}</md-option>-->
      <!--<!--</md-select>-->
      <!--<label>Promotion Code</label>-->
      <!--<input style="width: 300px;" ng-blur="chkPromo(content.promocode)" minlength="null" md-maxlength="null" type="" name="promotioncode" ng-pattern="" ng-model="content.promocode">-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div layout="column" flex="45">-->
      <!--<div class="section_padding" style="background-color: #306BA9">-->
      <!--<div layout-gt-sm="row" style="float:right">-->
      <!--<text style="font-weight: 500;font-size: medium; color: rgba(202, 198, 198, 0.55);margin-left: 145px">NET TOTAL</text>-->
      <!--</div>-->
      <!--<div layout-gt-sm="row" style="float:right">-->
      <!--<text style="font-weight:900;font-size: xx-large;color: white;margin-left: 65px">{{(((content.additionalcharge + content.netamt + content.taxAmt) - content.discount)- content.PromoAmt) | currency:" " :decimalPoint}}</text>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!--<div class="section_padding h-50">-->
      <!--<div layout-gt-sm="row">-->
      <!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<label>Notes</label>-->
      <!--<input ng-required="false" minlength="null" md-maxlength="null" type="" name="ProductDesc" ng-pattern="" ng-model="content.notes">-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="section_padding">-->
      <!--<div layout-gt-sm="row">-->
      <!--<!--<md-checkbox  ng-model="content.advance" aria-label="active" style="margin-top: 0 !important" class="md-primary p-t-0" ng-true-value="true">-->
      <!--<!--Apply Advance-->
      <!--<!--</md-checkbox>-->
      <!--<!--<fieldset class="standard">-->
      <!--<!--<legend>Payment Options</legend>-->
      <!--<md-radio-group ng-model="content.status" ng-change="enablePayment(content.status)" layout="row" style="margin-top: 0 !important">-->
      <!--<md-radio-button value="credit" class="md-primary">Credit</md-radio-button>-->
      <!--<md-radio-button value="true" class="md-primary">Apply Advance</md-radio-button>-->
      <!--<md-radio-button value="false" class="md-primary"> Pay Now </md-radio-button>-->
      <!--</md-radio-group>-->
      <!--<!--</fieldset>-->
      <!--<div class="add-new hvr-pop" >-->
      <!--<i class="ti-eye" ng-click="returntolist()"></i>-->
      <!--<md-tooltip md-direction="left">View all invoices</md-tooltip>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="md-block" flex="5">-->
      <!--<!--space keeper-->
      <!--</div>-->
      <!--<div layout-gt-sm="row" ng-hide="divEnabled">-->
      <!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<label>Payment Method</label>-->
      <!--<md-select ng-required="requiredStatus" ng-model="content.payMethod">-->
      <!--<md-option ng-repeat="value in paymentMethods" value="{{value}}">-->
      <!--{{value}}-->
      <!--</md-option>-->
      <!--</md-select>-->
      <!--</md-input-container>-->
      <!--<div hide-xs hide-sm flex-gt-sm="5">-->
      <!--</div>-->
      <!--<md-input-container class="md-block" flex-gt-sm>-->
      <!--<label>Amount</label>-->
      <!--<input ng-required="requiredStatus" minlength="0" md-maxlength="null" type="number" name="payAmt" ng-pattern="" ng-model="content.payAmt">-->
      <!--</md-input-container>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div layout-gt-sm="row" ng-init="submitted=false">-->
      <!--<div class="md-raise btn btn-cancel p-t-0" flex-gt-sm style="background:#484848;height:66px">-->
      <!--<md-button style="width:100%;line-height: 66px;color: white;font-size: 20px" ng-click="clearFields();" type="button">Clear</md-button>-->
      <!--</div>-->
      <!--<div class="md-raise btn btn-submit p-t-0" flex-gt-sm style="background:#f4511e;height:66px">-->
      <!--<md-button style="width:100%; line-height: 66px;color: white;font-size: 20px" ng-disabled="submitted" type="submit">SUBMIT</md-button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</form>-->
      <!--</md-content>-->
    </div>
    <!-- / CONTENT WRAPPER -->

  </div>
  <!-- / CONTENT CARD -->
