<md-dialog class="compose-dialog" aria-label="New Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">New Product</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>Product Name</label>
                <input ng-model="vm.product.name" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Product Code</label>
                <input ng-model="vm.product.code" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Product Category</label>
                <input ng-model="vm.product.category" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Brand</label>
                <input ng-model="vm.product.brand" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Quantity of Unit</label>
                <input ng-model="vm.product.QOU" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Unit of Meassure</label>
                <input ng-model="vm.product.UOM" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Currency</label>
                <input ng-model="vm.product.currency" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Price</label>
                <input ng-model="vm.product.price" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Cost Price</label>
                <input ng-model="vm.product.costprice" type="text">
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.closeDialog()" class="send-button md-accent md-raised" aria-label="Create Product">
                    Create
                </md-button>
            </div>

            <div layout="row">
                <md-button class="md-icon-button" aria-label="Delete">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip>Clear Product</md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

<div id="invoice-read" class="compact page-layout blank" layout="row">
  <meta name="modifiedBy" content="Kasun">
  <meta name="modifiedDate" content="26-10-2016">
  <meta name="version" content="6.0.0.9">
  <meta name="app" content="adjustment">
  <meta name="view" content="read-view.html">
  <div class="invoice-read-container" flex>

    <!-- INVOICE -->
    <div class="card md-whiteframe-8dp" layout="column" layout-align="center center">

      <div class="inv-outline" md-whiteframe="2dp" layout="column">
        <div class="inv-read-header">
          <div class="invoice-date">{{vm.selectedAdjustment.createdDate | parseDate | date: 'dd/mm/yyyy'}}</div>

          <div layout="row" layout-align="space-between stretch">
            <div class="client" flex>

              <div class="invoice-number" layout="row" layout-align="start center" felx>
                <span class="title" flex="40">ADJUSTMENT ID </span>
                <span class="number">: {{vm.selectedAdjustment.guadjustmentid}}</span>
                <!--<span class="number">{{vm.selectedInvoice.invoiceNo}} - {{vm.selectedInvoice.code}}</span>-->
              </div>

              <div class="invoice-number" layout="row" layout-align="start center" felx>
                <span class="title" flex="40">ADJUSTMENT TYPE </span>
                <span class="number">: {{vm.selectedAdjustment.adjustmenttype}}</span>
              </div>

              <div class="invoice-number" layout="row" layout-align="start center" flex>
                <span class="title" flex="40">AMOUNT</span>
                <span class="date">: {{vm.selectedAdjustment.currency}} {{vm.selectedAdjustment.amount}}</span>
              </div>

              <div class="info">
                <div class="title">{{vm.selectedAdjustment.customer}}</div>
                <div class="title">{{customerAddress}}</div>
                <div class="title">{{customerEmail}}</div>
                <div class="title">{{customerPhone}}</div>
                <!--<div class="website">www.yamu.lk</div>-->
              </div>
            </div>

            <div class="issuer" style="float: left;padding: 10px 0;" ng-class="{ 'md-accent-bg': content.companyLogo == ''}" layout="row" layout-align="start center">
              <table>
                <tr>
                  <td>
                    <div class="set-logo-wrap" ng-if="content.companyLogo != ''">
                      <div class="set-img">
                        <img style="width: 150px;height: auto;position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;" ng-src="{{content.companyLogo}}" alt="" />
                      </div>
                    </div>
                    <div class="logo" layout="row" layout-align="center center" ng-if="content.companyLogo == ''" style="font-family: Roboto;border-right: solid 1px #fff;color: #fff;">
                      <span style="font-size: 72px">{{content.companyName| limitTo:1}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="info" style="font-family: Roboto;max-width: 330px;">
                      <div class="">{{content.companyName}}</div>
                      <div class="address">{{content.companyAddress}}</div>
                      <div class="phone">{{content.companyPhone}}</div>
                      <div class="email">{{content.companyEmail}}</div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="inv-read-content">
          <table class="simple invoice-table" ng-show="vm.selectedAdjustment.invoiceid != 0">
            <thead>
            <th class="font-14">INVOICE ID</th>
            <th class="font-14">INVOICE DATE</th>
            <th class="font-14">INVOICE TYPE</th>
            <th class="font-14">CURRENCY</th>
            <th class="font-14">INVOICE AMOUNT</th>
            <th class="font-14">PAID AMOUNT</th>
            <th class="text-right font-14">STATUS</th>
            </thead>
            <tbody>
            <tr class="font-14">
              <td class="font-14">
                {{vm.selectedAdjustment.invoiceid}}
              </td>
              <td class="font-14">
                {{SelectedInvoice.invoiceDate | limitTo:10}}
              </td>
              <td class="font-14">
                {{SelectedInvoice.invoiceType}}
              </td>
              <td class="font-14">
                {{SelectedInvoice.currency}}
              </td>
              <td class="font-14">
                {{SelectedInvoice.currencyAmount}}
              </td>
              <td class="font-14">
                {{SelectedInvoice.paidAmount}}
              </td>
              <td class="text-right font-14">
                {{SelectedInvoice.invoiceStatus}}
              </td>
            </tr>
            </tbody>
          </table>

          <table class="simple invoice-table-footer">
            <tbody>
            <tr class="total">
              <td class="font-14">ADJUSTING AMOUNT</td>
              <td class="font-14">
                <span flex ng-show="vm.selectedAdjustment.adjustmenttype != 'Debit'">- {{vm.selectedAdjustment.amount| isoCurrency:vm.selectedAdjustment.currency :decimalPoint}}</span>
                <span flex ng-show="vm.selectedAdjustment.adjustmenttype === 'Debit'">+ {{vm.selectedAdjustment.amount| isoCurrency:vm.selectedAdjustment.currency :decimalPoint}}</span>
            </tr>

            <!--<tr class="subtotal">-->
            <!--<td class="font-14">ADJUSTING AMOUNT</td>-->
            <!--<td class="font-14">-->
            <!--<span flex ng-show="vm.selectedAdjustment.adjustmenttype != 'Debit'">- {{vm.selectedAdjustment.amount| isoCurrency:vm.selectedAdjustment.currency :decimalPoint}}</span>-->
            <!--<span flex ng-show="vm.selectedAdjustment.adjustmenttype === 'Debit'">+ {{vm.selectedAdjustment.amount| isoCurrency:vm.selectedAdjustment.currency :decimalPoint}}</span>-->
            <!--</td>-->
            </tr>
            </tbody>
          </table>
        </div>

        <div flex></div>

        <div class="inv-read-footer">
          <div class="note">{{content.greeting}}</div>
          <div layout="row" layout-align="start start">
            <!--<div class="logo md-accent-bg" layout="row" layout-align="center center">-->
            <!--<div>{{content.companyName | limitTo:1}}</div>-->
            <!--</div>-->
            <div class="small-note">
              {{content.disclaimer}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / INVOICE -->

    <!-- Use the following element to add breaks to your pages -->
    <!-- This will make sure that the section after this element will be printed on a new page -->
    <div class="page-break"></div>

  </div>
</div>
