@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
.bg-blue{
    background: #05a3ec!important;
}
@media print {
    .bg-blue{
        -webkit-print-color-adjust: exact;
        background: #05a3ec!important;
    }
    .bg-blue-g{
        -webkit-print-color-adjust: exact;
        background: linear-gradient(45deg, #05a3ec, #006696);
    }
    .list-header{
        -webkit-print-color-adjust: exact;
        background: #eee;
    }
    .bg-image{
        -webkit-print-color-adjust: exact;
        background: url('../../../../assets/images/backgrounds/email_template_1.jpg') -30px;
        background-repeat:no-repeat;
        background-size:cover;
    }
}