<md-dialog class="compose-dialog" style="width: 400px;">
  <form id="promptForm" ng-cloak name="addCategoryForm" ng-submit="saveCategory(addCategoryForm,vm.promptInput)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-star"></md-icon> <h3>New Category</h3>
        </div>
        <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div layout="row" layout-align="center center">
        <md-input-container flex="90">
          <label>Category</label>
          <input name="promptInput" ng-maxlength="20" type="text" ng-model="vm.promptInput" required flex/>
          <div ng-messages="addCategoryForm.promptInput.$error">
            <div ng-message="maxlength">Category must be between 1-20 characters</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" md-whiteframe="2dp">
      <span flex></span>
      <md-button class="md-raised md-accent" type="submit" ng-disabled="vm.isAddStoreClicked">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
