#threesixty {
  .input-block-gen{
    margin: 20px;
    overflow: hidden;
    background-color: #fff;
    md-card-title{
      height: 50px;
      padding: 10px;
      background: rgba(25, 102, 138, 0.05);;
      md-icon{
        font-size: 20px;
        margin-right: 10px;
        //color: rgba(0, 0, 0, 0.3);
        color: #039be5;
      }
      .title-icon-custom{
        font-weight: 500;
        font-size: 14px;
        color: #f5f5f5;
        margin-right: 10px;
        margin-left: 3px;
        display: block;
        border-radius: 50%;
        //background: #bebebe;
        background: #039be5;
        width: 18px;
        height: 18px;
        padding-left: 5px;
        padding-top: 0px;
      }
      h3{
        margin: 0;
        color: rgba(1, 59, 86, 0.6);
        //font-weight: 500;
      }
    }
    md-card-content{
      padding: 16px;
      background: #fff;
      z-index: 1;
      >.layout-row{
        height: 80px;
      }
      .state-capsule{
        position: relative;
        top: -4px;
        span:first-child{
          padding: 5px;
          background: rgba(3, 155, 229, 0.09);
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          //border-right: solid 1px #ccc;
          //border: solid 1px #eee;
        }
        span:last-child{
          padding: 5px;
          background: #ffffff;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          border: solid 1px #eee;
          height: 29px;
        }
      }
      .md-icon-button.md-accent{
        margin-right: -10px;
      }
      ._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore){
        left: 40px;
      }
      md-datepicker{
        margin-left: -10px;
        .md-datepicker-input-container{
          width: 75%;
        }
        .md-datepicker-button{
          margin-left: -8px;
          padding-left: 0px;
        }
      }
      md-select, md-autocomplete{
        font-size: 14px!important;
      }
      .dep-checkbox{
        top:-3px;
        margin-bottom: 0;
        color: #aaa;
        .md-icon{
          width: 18px;
          height: 18px;
          border-color: #aaaaaa;
          &:after{
            left: 3.66667px;
            top: 0.22222px;
            width: 6.66667px;
            height: 11.33333px;
          }
        }
        &.md-checked .md-icon {
          border-color: transparent;
        }
      }
      .payment-list-body{
        max-height: 200px;
        min-height: 40px;
        .state-checker{
          height: 100%;
          margin-top: 10px;
          span{
            md-icon{
              font-size: 19px;
              color: rgba(76, 76, 76, 0.17);
            }
            font-size: 13px;
            color: rgba(76, 76, 76, 0.21);
          }
        }
        .payment-list-item{
          padding: 10px 16px;
          &:not(:last-child){
            border-bottom: solid 1px #f1f1f1;
          }
        }
      }
      .group-sub-head{
        color: #638698;
        height: 30px;
        margin-top: 20px;
        md-input-container{
          &:first-child{
            margin-top: 10px;
          }
        }
        &.fade{
          opacity: 0.5!important;
        }
      }
    }
    md-card-actions{
      margin: 0;
      padding: 8px;
      background: #fbfbfb;
      .product-sub-block{
        padding: 0 20px 20px;
        .sub-pricing-info{
          padding: 30px 0 0 0;
          color: #666;
          .li-connector{
            border-bottom: dashed 1px rgba(221, 221, 221, 0.38);
            margin: 0 10px;
          }
          md-input-container{
            margin: 0;
          }
          &.total{
            //font-weight: 500;
            font-size: 20px;
          }
        }
      }
    }
  }
  .group-sub-head{
    color: #638698;
    height: 30px;
    margin-top: 20px;
    md-input-container{
      &:first-child{
        margin-top: 10px;
      }
    }
    &.fade{
      opacity: 0.5!important;
    }
  }
  .state-capsule{
    position: relative;
    top: -4px;
    span:first-child{
      padding: 5px;
      background: rgba(3, 155, 229, 0.09);
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      //border-right: solid 1px #ccc;
      //border: solid 1px #eee;
    }
    span:last-child{
      padding: 5px;
      background: #FFFFFF;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border: solid 1px #eee;
      height: 29px;
    }
  }
  .inpage-readpane{
    //border-left: solid 1px #e4e4e4;
    background: rgb(251, 251, 251);
    z-index: 100;
    margin-top: 6px;
    .inpage-readpane-toolbar{
      height: 39px;
      padding: 0 0 0 16px;
      //border-bottom: solid 1px #eee;
      background: rgba(25, 102, 138, 0.05);
      h3{
        margin: 0;
      }
    }
    .inpage-readpane-body{
      height: 100%;
      padding: 16px;
      .detail-row{
        padding: 7px 0;
        span:first-child{
          display: inline-block;
          width: 160px;
        }
      }
      .entitled-apps{
        padding: 10px 0;
        h1{
          text-transform: capitalize;color: #6e9bb1;
        }
      }
    }
    md-content{
      &.inpage-readpane-body{
        background-color: rgb(251, 251, 251);
      }
    }
  }
  .more-chevron{
    border-bottom: solid 1px #f4f4f4;
    top: 0px;
    position: relative;
    font-size: 12px;
    color: #bbb;
    .layout-row{
      position: absolute;
      top: -20px;
      background: #fafafa;
      md-icon{
        color: #bbb;
        font-size: 16px;
      }
    }
  }
  .radio-hor{
    .md-container{
      position: absolute;
      top: 13px;
    }
  }
  .bottom-fixed-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
  }
  .preloader-dot-auto{
    height: 10px;
    //right: 45%;
    //bottom: 45%;
    img{
      width: 40px;
    }
    .preloader-inset{
      transform: rotate(90deg);
      width: 60px;
      margin-top: 80px
    }
  }
  .preloader{
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 9999;
  }
    // Center
  .center {
      margin-top: 6px;
        .header {
            padding: 24px 0;

            .sidenav-toggle {
                margin: 0;
                width: 56px;
                height: 56px;
                background: #FFFFFF;
                border-radius: 0;
                border-right: 1px solid rgba(0, 0, 0, 0.12);
            }

            .search {
                height: 40px;
                line-height: 56px;
                padding: 18px;
                background: #FFFFFF;

                .icon {
                    margin: 0;
                }

                input {
                    padding-left: 16px;
                    height: 40px;
                    color: rgba(0, 0, 0, 0.54);
                  border-bottom: none!important;
                }
            }
        }

        .content-card {
          margin-top: 6px;
            .toolbar {
              position: relative;
              padding: 0px 16px;
              height: 39px !important;
              min-height: 39px;
              max-height: 39px;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.25) !important;

                &.product-read-pane-toolbar {
                    display: none;
                }

                .page-info {
                    font-weight: 500;
                    margin: 0 8px;
                    white-space: nowrap;
                }
            }

            .content-wrapper {
                overflow: hidden;
                position: relative;
                height: 100%;

                .invoice-tabs {

                    md-tabs-wrapper {
                        display: none;
                    }

                    md-tabs-content-wrapper {
                        top: 0;
                    }

                    .content {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        padding: 0;

                        &.product-list-pane {
                            border-right: 1px solid rgba(0, 0, 0, 0.12);
                            background: #FAFAFA;
                        }

                        &.invoice-display-pane {
                            padding: 24px;

                            .read-view-tabs{
                              md-tabs-wrapper {
                                display: block!important;
                                .md-tab{
                                  //float:none;
                                }
                              }

                              md-tabs-content-wrapper {
                                top: auto!important;
                              }
                            }
                        }
                    }
                }


              /*add and remove btn style*/

              .add-new-row {
                padding: 6px 21px 1px 10px;
                width: 40px;
                overflow: hidden;
                display: inline-block;
                background: #c1c1c1;
                position: relative;
                cursor: pointer;
                border-radius: 20px;
                outline: none !important;
              }

              .add-new-row:hover {
                background: #04A3EB;;
              }

              .add-new-row.remove-row:hover {
                background: #E64A19;;
              }

              .add-new-row.remove-row {
                width: 65px;
                background: #c1c1c1;
              }

              .add-new-row > .icon,
              .add-new-row > .text {
                display: inline-block;
              }

              .add-new-row > .text {
                position: absolute;
                color: #fff;
                font-family: 'lato', sans-serif;
                font-weight: 200;
                top: 9px;
                right: 13px;
                font-size: 13px;
              }

              .add-new-row.remove-row > .text {
                top: 9px;
                right: 12px;
              }

              .add-row {
                cursor: pointer;
                fill: #fff;
                display: inline-block;
              }

              .remove-row:hover {
                fill: #E64A19;
              }

              .body-content-wrap {
                height: 100%;
                width: auto;
                padding: 30px 36px 3px 34px;
                display: block;
                top: 0;
              }

                .sub-header-wrap {
                  width: 100%;
                  height: 40px;
                  padding: 10px 40px 0px 10px;
                  font-family: 'lato', sans-serif;
                  font-size: 20px;
                  font-weight: 500;
                  background: lightgray;
                }

                .sub-header-table-wrap {
                  width: 100%;
                  height: 40px;
                  padding: 10px 50px 0px 10px;
                  font-family: 'lato', sans-serif;
                  font-size: 14px;
                  font-weight: 500;
                  background: #286090;
                }

                .md-card-wrap {
                  width: 100%;
                  height: 40px;
                  margin: 3px;
                  padding: 0;
                }

                .md-card-label-wrap {
                  font-size: 14px;
                  font-weight: 500;
                  padding-left: 50px;
                }

                .calc-detail-wrap {
                  background: #bedaea;
                  height: 60px;
                  padding-top: 20px;
                }

                .calc-detail-label {
                  font-size: 20px;
                  font-weight: 600;
                  height: 30px;
                }

                .p-l-100{
                  padding-left: 100px;
                }

                .label-wrap-001 {
                  font-size: 14px;
                  color: red;
                  margin-top: 5px;
                }

                .tooltip-detail {
                  margin-top: 18px;
                  margin-right: 18px;
                  fill: #B4B4B4;
                }

                .serach-more {
                  width: 100%;
                  height: 40px;
                  padding: 10px 40px 0px 10px;
                  font-family: 'lato', sans-serif;
                  font-size: 20px;
                  font-weight: 500;
                  background: lightgray;
                  cursor: pointer;
                }

                .serach-more:hover {
                  background: #595959;
                }

                .price-text {
                  /*text-align: right;*/
                  /*margin: 0px;*/
                }

                .price-text > h1 {
                  color: #026b9a;
                  font-family: 'lato', sans-serif;
                  font-weight: 600;
                  font-size: 25px;
                  margin: 0px;
                }

                .btn-cancel {
                  background: #484848;
                  height: 50px;
                }

                .btn-submit {
                  background: #e64a19;
                  height: 50px;
                }

            }
        }
    }
}

// RESPONSIVE
@media screen and (min-width: $layout-breakpoint-md) {

    #threesixty {

        .center {

            .innerViews{

                .content-card {

                    .content-wrapper {

                        .invoice-tabs {

                            md-tabs-content-wrapper {

                                md-tab-content {
                                    width: 100%;
                                    opacity: 1;
                                    animation: none !important;

                                    * {
                                        visibility: visible;
                                        transition: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
.fontblack
{
  color:#fff!important;
}
.inv-outline {
  font-family: Roboto;
  font-size: 14px;
  padding: 20px;
}
.flex{
  flex: 1;
}
.inv-outline .inv-read-header .invoice-date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 50px;
}
.inv-outline .inv-read-header .client-info{
  display: flex;
}
.inv-outline .inv-read-header .client{
  width: 50%;
  display: inline-block;
}
.inv-outline .inv-read-header .client md-select {
  margin: 10px 0;
}
.inv-outline .inv-read-header .client .invoice-number {
  font-size: 14px;
  padding-bottom: 2px;
}
.inv-outline .inv-read-header .client .invoice-number .title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}
.inv-outline .inv-read-header .client .invoice-number .number {
  padding-left: 0px !important;
}
.inv-outline .inv-read-header .client .invoice-type {
  font-size: 18px;
  padding-bottom: 2px;
}
.inv-outline .inv-read-header .client .invoice-type .title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}
.inv-outline .inv-read-header .client .invoice-type .number {
  padding-left: 6px;
}
.inv-outline .inv-read-header .client .due-date {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 16px;
}
.inv-outline .inv-read-header .client .due-date .title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}
.inv-outline .inv-read-header .client .due-date .date {
  padding-left: 6px;
}
.inv-outline .inv-read-header .client .info {
  color: rgba(0, 0, 0, 0.54);
  line-height: 18px;
  padding-right: 70px;
  margin-top: 10px;
  font-size: 13px;
}
.inv-outline .inv-read-header .issuer {
  color: #ffffff!important;
  background-color: rgb(3,155,229);
  width: 50%;
  display: inline-block;
  position: relative;
}
.inv-outline .inv-read-header .issuer .set-img {
  width: 150px;
  height: 150px;
  position: relative;
}
.inv-outline .inv-read-header .issuer .set-img img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.inv-outline .inv-read-header .issuer .logo {
  text-align: center;
  color: #ffffff;
  width: 96px;
  height: 96px;
  font-size: 72px;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}
.inv-outline .inv-read-header .issuer .info {
  font-size: 14px;
  padding: 16px;
  color: #ffffff;
}
.inv-outline .inv-read-header .issuer>table {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.inv-outline .inv-read-header .issuer .new-invoice-issuer .info {
  padding: 40px 20px;
}
.inv-outline .inv-read-content .invoice-table {
  width: 100%;
  margin-top: 64px;
  font-size: 14px !important;
}
.inv-outline .inv-read-content .invoice-table thead tr th {
  text-align: left;
  color: rgba(0, 0, 0, 0.28);
  padding-bottom: 7px;
  font-weight: normal;
}
.inv-outline .inv-read-content .invoice-table thead tr th:first-child {
  padding-left: 8px;
}
.inv-outline .inv-read-content .invoice-table thead tr th:last-child {
  padding-right: 8px;
  text-align: right;
}
.inv-outline .inv-read-content .invoice-table{
  text-align: left;
}
.inv-outline .inv-read-content .invoice-table tbody tr td:first-child {
  padding-left: 8px;
}
.inv-outline .inv-read-content .invoice-table tbody tr td:last-child {
  padding-right: 8px;
  text-align: right;
}
.inv-outline .inv-read-content .invoice-table .title {
  font-size: 14px;
  font-weight: 500;
}
.inv-outline .inv-read-content .invoice-table .detail {
  margin-top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  max-width: 360px;
}
.inv-outline .inv-read-content .invoice-table-footer {
  border-collapse: collapse;
  margin: 32px 0 72px 0;
  width: 100%;
}
.inv-outline .inv-read-content .invoice-table-footer tr:not(:last-child) {
  background-color: rgba(0, 0, 0, 0.01);
}
.inv-outline .inv-read-content .invoice-table-footer tr td:first-child {
  width: 400px;
}
.inv-outline .inv-read-content .invoice-table-footer tr td {
  text-align: left;
  font-size: 14px;
  font-weight: 400  ;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: none;
  padding: 4px 8px;
}
.inv-outline .inv-read-content .invoice-table-footer tr td:last-child {
  text-align: right;
}
.inv-outline .inv-read-content .invoice-table-footer tr.promotion td {
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.12);
  font-size: 16px;
  font-weight: 300;
  color: black;
}
.inv-outline .inv-read-content .invoice-table-footer tr.total td {
  padding: 24px 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 27px !important;
  font-weight: 300;
  color: black;
}
.inv-outline .inv-read-footer{
  position: relative;
  bottom: 20px;
}
.inv-outline .inv-read-footer .note {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 24px;
}
.inv-outline .inv-read-footer .logo, .inv-outline .inv-read-footer .small-note {
  -ms-flex: 0 1 auto;
}
.inv-outline .inv-read-footer .logo {

  width: 32px;
  min-width: 32px;
  height: 32px;
  font-size: 17px;
  font-weight: 500;
  margin-right: 24px;
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  background-color: rgb(3,155,229);
}
.inv-outline .inv-read-footer .logo>div {
  margin-top: 5px;
  color: #fff;
}
.inv-outline .inv-read-footer .small-note {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  line-height: 18px;
  display: inline-block;
  width: 92%;
}


// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #threesixty {

        .center {

            .innerViews{

                .content-card {

                    .content-wrapper {

                        .invoice-tabs {

                            .content {
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}
